// icons
.icons {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}



.email-icon {
  background-image: url('../img/icons/email.png');
  height: 20px;
  width: 20px;
}
.phone-icon {
  background-image: url('../img/icons/phone.png');
  height: 20px;
  width: 20px;
}
.divide-dot {
  background-image: url('../img/icons/divide-dot.png');
  height: 18px;
  width: 18px;
  
}
.fb-icon {background-image: url('../img/icons/facebook.png'); height: 24px; width: 24px;}
.twitter-icon {background-image: url('../img/icons/twitter.png'); height: 24px; width: 24px;}
.insta-icon {background-image: url('../img/icons/instagram.png'); height: 24px; width: 24px;}
.g-icon {background-image: url('../img/icons/g.png'); height: 24px; width: 24px;}
.bullet-icon{background-image: url('../img/icons/bullet-icon.png'); height: 18px; width: 18px;}
.student-icon{background-image: url('../img/icons/for-schools.png'); height: 82px; width: 82px;}
.school-icon{background-image: url('../img/icons/student-icon.png'); height: 82px; width: 82px;}
.questionmark-icon{background-image: url('../img/icons/question-mark.png'); height: 24px; width: 24px;}
.contactloc-icon{background-image: url('../img/icons/contact-loc.png'); height: 24px; width: 24px;}
.schoollisting-icon{background-image: url('../img/icons/school-listing.png'); height: 24px; width: 24px;}
.onlineadmission-icon{background-image: url('../img/icons/online-admission.png'); height: 24px; width: 24px;}
.payfeeonline-icon{background-image: url('../img/icons/payfeeonline.png'); height: 24px; width: 24px;}
.filter-icon{background-image: url('../img/icons/filter-icon.png'); height: 18px; width: 18px;}
.info-icon{background-image: url('../img/icons/info.png'); height: 18px; width: 18px;}
.partner-icon{background-image: url('../img/icons/partner.png'); height: 32px; width: 32px;}
.security-icon{background-image: url('../img/icons/security.png'); height: 24px; width: 24px;}
.trasport-icon{background-image: url('../img/icons/transport.png'); height: 24px; width: 24px;}
.elearning-icon{background-image: url('../img/icons/elearning.png'); height: 24px; width: 24px;}
.boarding-icon{background-image: url('../img/icons/boarding-icon.png'); height: 24px; width: 24px;}
.watchman-icon{background-image: url('../img/icons/watchman-icon.png'); height: 24px; width: 24px;}
.air-conditioner{background-image: url('../img/icons/air-conditioner.png'); height: 24px; width: 24px;}
.wifi-icon{background-image: url('../img/icons/wifi-icon.png'); height: 24px; width: 24px;}
.sciencelab-icon{background-image: url('../img/icons/sciencelab-icon.png'); height: 24px; width: 24px;}
.disabledfriendly-icon{background-image: url('../img/icons/disabledfriendly-icon.png'); height: 24px; width: 24px;}
.canteen-icon{background-image: url('../img/icons/canteen-icon.png'); height: 24px; width: 24px;}
.green-arrow-icon{background-image: url('../img/icons/green-arrow-icon.png'); height: 11px; width: 20px;}


.biometrics-icon{background-image: url('../img/icons/biometrics-icon.png'); height: 24px; width: 24px;}
.computer-lab{background-image: url('../img/icons/computer-lab.png'); height: 24px; width: 24px;}

.addnew-icon{background-image: url('../img/icons/addnew-icon.png'); height: 18px; width: 18px;}
.delete-icon{background-image: url('../img/icons/delete-icon.png'); height: 18px; width: 18px;}
.check-icon{background-image: url('../img/icons/check-icon.png'); height: 24px; width: 24px;}
.location-icon{background-image: url('../img/icons/location-icon.png'); height: 18px; width: 18px;}
.cross-icon{background-image: url('../img/icons/cross-icon.png'); height: 18px; width: 18px;}

.arrowdown-icon{background-image: url('../img/icons/arrow-down.png'); height: 12px; width: 12px;}
.arrowright-icon{background-image: url('../img/icons/right-arrow.png'); height: 12px; width: 12px;}
