@media screen and (max-width: 650px) { 
    .main-container .form-content-wrapper{}
    .main-container .content-area { 
        .content-area-inner{
            &.inner-page-container{
                padding-left: 24px;
                padding-right: 24px;
            }

        }
    }
    .blog-main-wrapper .blog-content-wrap .blog-article-wrapper .article-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
    .signup-wrapper{
        grid-template-columns: auto;
        width: 100%;
        margin: 0 auto;
        padding: 16px 0;
        .signup-col{
            .infobox-pane{
                margin: 0;
                svg{height: auto;}
            }
            .infobox-inner{
                margin: 8px 0;
                padding: 0;
                h2{font-size: 24px; line-height: 1.8rem; margin-bottom: 16px;}
                h6{font-size: 16px; line-height: 1.4rem;margin-bottom: 16px;}
            }
            &.left{
                margin: 0;
            }
        }
    }
    .map-wrapper .map-search-txtfld {
        position: absolute;
        top: 60px;
        left: 10px;
    }
    .content-area .bc-main-wrap ol.breadcrumb {
        margin-bottom: 12px;
        flex-wrap: wrap;
    }
    .content-area .bc-main-wrap ol.breadcrumb li.active::before {
        margin-left: 5px;
        top: 3px;
    }
}

@media (max-width: 375px){
.content-area .school-list-container .school-card .info-list-group .list-group-item .session-wrap .session-info-outer {
    display: flex;
    flex-direction: row;
    column-gap: 3px;
    align-items: center;
    margin-bottom: 5px;
}
.header .loc-cartinfo-nav-wrapper {
    align-items: inherit;
    flex-direction: column;
}
}

@media (max-width: 320px){
.blog-main-wrapper .blog-content-wrap .blog-article-wrapper .social-share-link {
    padding: 30px 0 30px 0;
    column-gap: 10px;
}
}

@media (max-width: 991px){
    .content-area .inner-page-container .content-section.bc-section .bc-col.blog-bc {
        flex-direction: column; 
   }
   .content-area .inner-page-container .content-section.bc-section .bc-col.blog-bc .bc-cell.right{
    margin-top: 5px; 
}
.content-area .content-area-inner.profile-page-wrap .inner-page-content .content-section.profile-content-main .col.right.content .row-items.application-block .application-row .application-inner-wrap .col-item.right {
    row-gap: 0px;
    display: flex;
    justify-content: space-between;
}
}

//  blog page media
@media (min-width: 991px) and (max-width: 1199px){
    .blog-main-wrapper{
        .blog-content-wrap{
          ul.blog-list{
            li{
                flex-basis: 488px;
            }
          }
        }
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .blog-main-wrapper{
        .blog-content-wrap{
          ul.blog-list{
            li{
             flex-basis: 360px;
            }
          }
        }
    }

    .footer-main .finner .fcol {
        padding: 16px 1px;
    }
    .footer-main .finner .fcol.btn-container {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: space-between;
        .btn {
            width: 43%;
        }
    }
}