@media screen and (max-width: 650px) { 
    .main-container .form-content-wrapper{}
    .main-container .content-area { padding-top: 80px; }
    .header .cart-profile-wrap {
        justify-content: center;
        display: flex;
    }
    .main-container{
        .header.header{
            .common-header{display: none;}
            .mobile-header{
                top: 0; display: block;
                nav{
                    height: 78px;
                    background-color: rgba(255, 255, 255, 0.8);
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
                    box-shadow: 0 6px 6px rgba(0, 82, 224, 0.1);
                    transition: all 0.2s linear;
                    z-index: 1;
                    position: relative;
                }
            }
            
        }
        .content-area{
            .content-area-inner{
                .hero-info-panel{
                    flex-direction: column-reverse;
                    column-gap: 24px;
                    padding: 0;
                    .hero-item{
                        &.left{
                            h2{
                                font-size: 32px;
                                line-height: 40px;                            
                            }
                            .btn-wrapper{
                                
                                .btn{
                                    &.btn-primary{
                                        margin: 0;
                                        padding: 10px 18px;
                                        font-size: 14px;
                                        height: 48px;
                                    }
                                }
                                a{
                                    font-size: 14px;
                                }
                            }
                        }
                        &.right{
                            img{width: 100%;}
                        }
                    }
                }
                .info-panel{
                    padding: 8px 0;
                    flex-direction: column;
                    margin-bottom: 24px;
                    h2{
                        white-space: normal;
                        font-size: 14px;
                        text-align: left;
                        padding: 8px 0;
                    }
                }
                .service-features{
                    ul.service-type-tabs{
                        li.nav-item{
                            margin: 0;
                            button.nav-link{
                                font-size: 14px;
                                padding: 12px 18px 12px 12px;
                                span{
                                    i{
                                        height: 42px;
                                        width: 42px;
                                    }
                                }
                            }
                        }
                    }
                    .tab-content{
                        .tab-pane{
                            .inner-tab-content{
                                &.tab-content{
                                    padding: 0;
                                    .feature-card-main{
                                        flex-direction: column;
                                        row-gap: 8px;
                                    }
                                }
                                
                                
                            }
                        }
                    }
                }
            }
        }
        
    }
    .signin-model{
        &.modal{
            .modal-dialog{
                width: 100%;
                max-width: 100%;
                padding: 16px;
                margin: 0;
                .modal-content{
                    .modal-header{}
                    .model-body{
                        flex-direction: column;
                        .model-body-col{
                            &.left{
                                border-bottom: 1px solid rgba(0, 0, 0, 0.08);
                                border-right: none;
                                padding: 0 0 16px 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .signup-wrapper{
        grid-template-columns: auto;
        width: 100%;
        margin: 0 auto;
        padding: 16px 0;
        .signup-col{
            .infobox-pane{
                margin: 0;
                svg{height: auto;}
            }
            .infobox-inner{
                margin: 8px 0;
                padding: 0;
                h2{font-size: 24px; line-height: 1.8rem; margin-bottom: 16px;}
                h6{font-size: 16px; line-height: 1.4rem;margin-bottom: 16px;}
            }
            &.left{
                margin: 0;
                display: none;
            }
            &.right{
                .logo{
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    svg{
                        width: 60%;
                    }
                }
                .form-wrapper{
                    margin: 24px;
                    .form-container{
                        padding: 0 24px 40px 24px;
                        .form-wrap{
                            .frm-row{
                                flex-direction:column;
                                .frm-cell{
                                    &.pwd-cell{
                                        .view-pwd-icon{
                                            top: 32px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .modal.forgotpwd-model .modal-dialog{width: 100%; max-width: 100%; padding: 16px; margin: 0;}
    .content-area .inner-page-container .content-section.about-content-main .section-wrapper.hero-wrap .hero-caption{bottom: 0;
        padding: 16px 16px;
        border-radius: 16px;
        position: relative;
    }
    .content-area .inner-page-container .content-section.bc-section{}
    .content-area .inner-page-container .content-section.about-content-main .section-wrapper .img-wrap img{width: 100%;}
    .content-area .inner-page-container .content-section.about-content-main .section-wrapper.hero-wrap .hero-caption h2{font-size: 14px;}
    .content-area .inner-page-container .content-section.about-content-main .section-wrapper{width: 100%; margin-bottom: 42px; flex-wrap: wrap; gap: 0;}
    .content-area .inner-page-container .content-section.about-content-main .section-wrapper.full-width{width: 100%; flex-wrap: wrap;}
    .content-area .inner-page-container .content-section.about-content-main .section-wrapper.infotoschools{width: 100%; flex-wrap: wrap;}
    .content-area .inner-page-container .content-section.faq-content-main .list-group{width: 100%; flex-wrap: wrap;}
    .content-area .inner-page-container .content-section.about-content-main{margin: 16px 0;}
    .content-area .content-area-inner.profile-page-wrap .inner-page-content .content-section.profile-bc-section{margin-bottom: 8px;}
    .content-area .contact-section-wrapper{width: 100%; padding: 0;}
    .content-area .content-area-inner.internal-page-wrapper{grid-template-columns: 1fr;}
    .content-area .content-area-inner.internal-page-wrapper .inner-page-content.allschool-wrap.right{}
    .content-area .content-area-inner.internal-page-wrapper .inner-page-content.allschool-wrap.right .content-section{}
    .content-area .content-area-inner.internal-page-wrapper .inner-page-content.allschool-wrap.right .content-section .page-container{ flex-direction: column;}

    .content-area .contact-section-wrapper .application-form-wrap .fld-row{display: flex; flex-direction: column;}
    .content-area .content-area-inner.internal-page-wrapper .inner-page-content.left{}
    .content-area .school-list-container{ grid-template-columns:1fr; }
    .content-area .content-area-inner.internal-page-wrapper.school-details-wrap{grid-template-columns:1fr; }
    .content-area .content-area-inner.internal-page-wrapper.school-details-wrap .inner-page-content.left .content-section .page-container{flex-direction: column;}
    .content-area .content-area-inner.internal-page-wrapper.school-details-wrap .inner-page-content.left .content-section .page-container .school-details-container .school-basic-info .cell.left{display: flex; justify-content: center;}
    .content-area .content-area-inner.internal-page-wrapper.school-details-wrap .inner-page-content.left .content-section .page-container .school-details-container .school-basic-info .cell.left .image-wrapper{}

    .content-area .content-area-inner.internal-page-wrapper .inner-page-content .content-section .page-container .school-details-container .school-basic-info{grid-row-gap: 16px; display: flex; flex-direction: column;}
    .content-area .content-area-inner.internal-page-wrapper .inner-page-content .content-section .page-container .school-details-container .school-basic-info .cell ul.list-group{margin-left: 0;}
    .content-area .content-area-inner.profile-page-wrap .inner-page-content .content-section.profile-content-main{grid-row-gap: 16px; display: flex; flex-direction: column;}
    .content-area .content-area-inner.profile-page-wrap .inner-page-content .content-section.profile-content-main .col.left{min-height: auto;  border-radius: 16px; border: none;}
    .content-area .content-area-inner.profile-page-wrap .inner-page-content .content-section.profile-content-main .profile-content .header{flex-direction: column;}
    .content-area .content-area-inner.internal-page-wrapper .inner-page-content.left{border-radius: 0 0 16px 16px;}
    .content-area .content-area-inner.profile-page-wrap .inner-page-content .content-section.profile-content-main .col.right.content .row-items.application-block .application-row .application-inner-wrap{display: flex; flex-direction: column;}
    .content-area .content-area-inner.profile-page-wrap .inner-page-content .content-section.profile-content-main .col.right.content .row-items.application-block .col-item.right{flex-direction: row; align-items: center;}
    .manage-child-tbl-outer{overflow-x: auto;}
    .inner-page-content .inner-page-right-container{padding-left: 0;}
    .content-area .content-area-inner.cart-page-wrapper .page-container .cart-content-row{display: flex; flex-direction: column-reverse;}
    .content-area .content-area-inner.cart-page-wrapper .page-container .cart-content-row .cell.left.cart-content-area{padding-right: 0; border: none;}
    .content-area .content-area-inner.cart-page-wrapper .page-container .cart-content-row.nearby .school-list-container{flex-direction: column;}
    .modal.joinus-model .modal-dialog{width: 100%; max-width: 100%; padding: 16px; margin: 0;}
    .modal.joinus-model .modal-dialog .modal-content .model-body .model-body-col form .fld-row{flex-direction: column;}
    .modal.joinus-model .modal-dialog .modal-content .model-body .model-body-col form .fld-row.button-wrap{row-gap: 16px;}
    .modal.add-child-model .modal-dialog .modal-content .modal-body .model-body-col .model-frm .frm-cell{display: flex; flex-direction: column; row-gap: 4px;}
    .modal.add-child-model .modal-dialog .modal-content .modal-body .model-body-col .model-frm .frm-cell label{margin-top: 16px;}
    .modal.add-child-model .modal-dialog .modal-content .modal-body .model-body-col .model-frm .frm-cell .fld-inst{margin: 0;}
    .modal.add-child-model .modal-dialog .modal-content .modal-body .model-body-col .model-frm .frm-cell .field-group-wrap{display: flex; flex-direction: column; row-gap: 16px;}
    .modal.add-child-model .modal-dialog .modal-content .modal-body .model-body-col .model-frm .frm-cell.button-wrap{justify-content: center;}
    .application-form-wrap .fld-row{flex-direction: column;}
    .application-form-wrap .fld-row.button-wrap{row-gap: 8px;}
    .content-area .content-area-inner .page-container{display: flex; flex-direction: row; align-items: center;}
    .content-area .content-area-inner.inner-page-container.cart-page-wrapper .page-container{flex-direction: column;}
    .content-area .content-area-inner.cart-page-wrapper .page-container .cart-content-row .cell.right{    border-radius: 8px; margin-top: 8px;}
    .content-area .content-area-inner .inner-page-content .content-section .page-container .row-wrapper .cell-row { display: flex; column-gap: 8px; flex-direction: column; align-items: flex-start;}
    .modal.add-child-model.review-admission-modal .modal-dialog .modal-content .modal-body .accordion.accordion-flush .accordion-item .accordion-collapse.show .accordion-body .admin-detail-row:last-child{grid-template-columns:1fr;}
    .modal.calback-model .modal-dialog{width: 100%; max-width: 100%; padding: 16px; margin: 0;}
    .modal.alert-popup .modal-dialog{width: 100%; max-width: 100%; padding: 16px; margin: 0;}
    
}


@media screen and (max-width: 1199px) { 
    .main-container .form-content-wrapper{}
    .main-container .content-area {padding-top: 78px;}
    .main-container{
        .header.header{
            .common-header{display: none;}
            .mobile-header{
                top: 0; display: block;
                nav{
                    height: 78px;
                    background-color: rgba(255, 255, 255, 0.8);
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
                    box-shadow: 0 6px 6px rgba(0, 82, 224, 0.1);
                    transition: all 0.2s linear;
                    z-index: 1;
                    position: relative;
                    .mob-logo-wrap{
                        position: absolute;
                        top: 26px;
                        left: 84px;
                    }
                }
            }
        }
        .content-area{
            .content-area-inner{
                .hero-info-panel{
                    flex-direction: column-reverse;
                    column-gap: 24px;
                    padding: 0;
                    .hero-item{
                        &.left{
                            h2{
                                font-size: 32px;
                                line-height: 40px;                            
                            }
                            .btn-wrapper{
                                
                                .btn{
                                    &.btn-primary{
                                        margin: 0;
                                        padding: 10px 18px;
                                        font-size: 14px;
                                        height: 48px;
                                    }
                                }
                                a{
                                    font-size: 14px;
                                }
                            }
                        }
                        &.right{
                            img{
                                width:auto; 
                                max-width: 100%;
                            }
                        }
                    }
                }
                .info-panel{
                    padding: 8px 0;
                    flex-direction: column;
                    margin-bottom: 24px;
                    h2{
                        white-space: normal;
                        font-size: 14px;
                        text-align: left;
                        padding: 8px 0;
                    }
                }
                .service-features{
                    ul.service-type-tabs{
                        li.nav-item{
                            margin: 0;
                            button.nav-link{
                                font-size: 14px;
                                padding: 12px 18px 12px 12px;
                                span{
                                    i{
                                        height: 42px;
                                        width: 42px;
                                    }
                                }
                            }
                        }
                    }
                    .tab-content{
                        .tab-pane{
                            .inner-tab-content{
                                &.tab-content{
                                    padding: 0;
                                    .feature-card-main{
                                        
                                    }
                                }
                                
                                
                            }
                        }
                    }
                }
            }
        }
        
    }
    
    .signup-wrapper{
        grid-template-columns: auto;
        width: 100%;
        margin: 0 auto;
        padding: 16px 0;
        .signup-col{
            .infobox-pane{
                margin: 0;
                svg{height: auto;}
            }
            .infobox-inner{
                margin: 8px 0;
                padding: 0;
                h2{font-size: 24px; line-height: 1.8rem; margin-bottom: 16px;}
                h6{font-size: 16px; line-height: 1.4rem;margin-bottom: 16px;}
            }
            &.left{
                margin: 0;
                display: none;
            }
            &.right{
                .logo{
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    svg{
                        width: 60%;
                    }
                }
                .form-wrapper{
                    margin: 24px;
                    .form-container{
                        padding: 0 24px 40px 24px;
                        .form-wrap{
                            .frm-row{
                                
                                .frm-cell{
                                    &.pwd-cell{
                                        .view-pwd-icon{
                                            top: 32px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .content-area .content-area-inner.internal-page-wrapper{grid-template-columns: 1fr;}
    .content-area .content-area-inner.internal-page-wrapper .inner-page-content.left{}
    .content-area .content-area-inner.internal-page-wrapper.school-details-wrap{grid-template-columns:1fr; }
    .content-area .content-area-inner.internal-page-wrapper .inner-page-content.left{border-radius: 0 0 16px 16px;}
    
}

@media (max-width: 1440px){
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}
